<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/jpg/11/79/36/56/1000_F_1179365680_kLBdtBtdddKMpAeC8jVcN8Ek7kpU1tRP.jpg);">
  <div class="container">
    <h1>My movie lists !</h1>
    <p>Create you favorite movie list right now.</p>
    <%= link_to 'Add a new list', new_list_path %>
    <a class="btn btn-flat"></a>
  </div>
</div>

<h1>All Lists</h1>
<%= link_to 'Add a new list', new_list_path %>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
